---
# Play to prepare instance to install RabbitMQ on itself when bootet. Setting it up for clustering.
# RabbitMQ can't be install prior first boot (on an image) as it messes with system state to make later cluster
# setup impossible as hostname changes on a fresh boot on AWS, so setup can't be on the AMI.


- name: Create Rabbit etc & var dirs manually as we only install Rabbit later
  file:
    path: '{{ item }}'
    state: directory
    mode: 0755
  with_items:
    - /etc/rabbitmq
    - /var/rabbitmq

- name: Add Rabbit ENV config file to make sure full hostnames are used
  template:
    src: rabbitmq-env.conf.j2
    dest: /etc/rabbitmq/rabbitmq-env.conf

- name: Ensure erlang cookies are the same among all instances
  template:
    src: erlang.cookie.j2
    dest: /var/lib/rabbitmq/.erlang.cookie

- name: Install python-pip and other tools to install python packages/ansible
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - git-core
    - build-essential
    - python-pip
    # build dependencies to install ansible pip package
    - libyaml-dev
    - libssl-dev
    - libffi-dev
    - python-dev

- name: Install boto & ansible to update clustering on the instance
  pip:
    name: '{{ item }}'
    state: latest
  with_items:
    - pip
    - jinja2
    - boto
    - ansible

- name: Clone this role onto remote machine to be executed on boot
  git:
    repo: https://github.com/mediapeers/ansible-role-rabbitmq.git
    dest: /root/roles/mediapeers.rabbitmq
    # TODO: set to master later!
    version: 'make_clustering_work'
    recursive: yes
    depth: 5
    accept_hostkey: yes

- name: Create ansible library dir in root folder
  file:
    path: /root/library
    state: directory

- name: Copy ec2_search module into library dir
  copy:
    src: ec2_search.py
    dest: /root/library/ec2_search.py

- name: Put ansible.cfg into root dir to configure ansible library/role dirs
  copy:
    src: ansible.cfg
    dest: /root/ansible.cfg

- name: Place playbook using this role into /root
  template:
    src: rabbit_bootup.yml.j2
    dest: /root/rabbit_bootup.yml

- name: Add ansible execution to bootup of instance (hooks intance up to cluster)
  lineinfile:
    dest: /etc/rc.local
    insertbefore: 'exit 0'
    line: 'cd /root/ && /usr/local/bin/ansible-playbook rabbit_bootup.yml >> /var/log/rc.local.log 2>&1'

