listeners.tcp.default = {{ rabbitmq_amqp_port }}

channel_max = {{ rabbitmq_max_channels }}

log.file.level = {{ rabbitmq_log_level }}

default_vhost = {{ rabbitmq_default_vhost }}
default_user  = {{ rabbitmq_default_user }}
default_pass  = {{ rabbitmq_default_pass }}

default_permissions.configure = .*
default_permissions.read      = .*
default_permissions.write     = .*

{% for tag in rabbitmq_default_user_tags %}
default_user_tags.{{ tag }} = true
{%endfor%}

{% for user in rabbitmq_loopback_users %}
loopback_users.{{ user }} = true
{% endfor  %}

vm_memory_high_watermark.relative     = {{ rabbitmq_high_watermark }}
vm_memory_high_watermark_paging_ratio = {{ rabbitmq_high_watermark_paging }}

disk_free_limit.absolute = {{ rabbitmq_disk_free_limit }}
